	<div class="right-sidenav">
	<div class="on-other-side">
		<h2>On the other side</h2>
		<ul class="otherside-sec">
			<li *ngFor="let other of result">
				<div class="othersideBox">
					<div class="otherside-img">
						<img src="assets/images/right-sidebar/1_small.png" alt="" class="small-pic">
						<img src="{{other.img_url}}" alt="" class="big-pic">
						<p>{{ other.category_name }}</p>
					</div>
					<div class="otherside-content">
						<h4>{{other['title']}}</h4>
						<ul>
							<li><a href="">A1ON</a><span>|</span></li>
							<li><a href="">НОВА МАКЕДОНИЈА</a><span>|</span></li>
							<li><a href="">ФАКТОР</a></li>
							<li><a href="">More…</a></li>
						</ul>
					</div>
				</div>

			</li>
			<li>
				<a class="take-me-there" routerLink="/">take me there <img src="assets/images/door.png"></a>
			</li>
		</ul>
	</div>
	<div class="celebs">
		<div class="celebs__top">
			<!-- <button class="celebs__tab-btn" [ngClass]="activeCelebsTab == 1 ? '--active' : ''" (click)="handleCelebsTabClick('1')">Social Influencers</button> -->
			<button class="celebs__tab-btn" [ngClass]="activeCelebsTab == 2 ? '--active' : ''" (click)="handleCelebsTabClick('2')">Celebrities</button>
		</div>
		<div class="celebs__content">
			<div class="celebs__single">
				<div class="celebs__single__left">
					<div class="celebs__single__name">Alex M.</div>
					<div class="celebs__single__img">
						<img src="assets/images/seleb-1.png">
					</div>
				</div>
				<div class="celebs__single__right">
					<div class="celebs__single__title">ELEM will change the filters on their manufacturing</div>
					<div class="celebs__single__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</div>
					<div class="celebs__single__footer">
						<button class="celebs__single__view-btn">
							<img src="assets/images/eye.png">
						</button>
						<span class="celebs__single__timestamp">11 minutes ago</span>
					</div>
				</div>
			</div>
			<div class="celebs__single">
				<div class="celebs__single__left">
					<div class="celebs__single__name">Kent A.</div>
					<div class="celebs__single__img">
						<img src="assets/images/seleb-2.png">
					</div>
				</div>
				<div class="celebs__single__right">
					<div class="celebs__single__title">Nimiz will be heading to Athens in Monday</div>
					<div class="celebs__single__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</div>
					<div class="celebs__single__footer">
						<button class="celebs__single__view-btn">
							<img src="assets/images/eye.png">
						</button>
						<span class="celebs__single__timestamp">17 minutes ago</span>
					</div>
				</div>
			</div>
			<div class="celebs__single">
				<div class="celebs__single__left">
					<div class="celebs__single__name">Kelly R.</div>
					<div class="celebs__single__img">
						<img src="assets/images/seleb-3.png">
					</div>
				</div>
				<div class="celebs__single__right">
					<div class="celebs__single__title">Jentiloni refuses pre contract with Berlusconi</div>
					<div class="celebs__single__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</div>
					<div class="celebs__single__footer">
						<button class="celebs__single__view-btn">
							<img src="assets/images/eye.png">
						</button>
						<span class="celebs__single__timestamp">1 hour ago</span>
					</div>
				</div>
			</div>
			<div class="celebs__footer">
				<a class="celebs__load-more-btn" href="#">
					Load More
					<img src="assets/images/caret-down.svg">
				</a>
			</div>
		</div> 
	</div>
	<!-- <div class="latest-tweets">
		<h2>Latest Tweets</h2>
		<ul>
			<li *ngFor="let tweet of twitter_feed">
				<div class="tw_pic">
					<img src="{{tweet.user.profile_image_url}}">
				</div>
				<div class="tw-cont">
					<h4>{{tweet.user.name}}</h4>
					<p>{{tweet.text}}</p>
					<a href="">{{tweet.retweet_count}} Retweets {{tweet.favorite_count}} Favorites</a>
				</div>
			</li>
		</ul>
	</div> -->
</div>
