.banner-home {
    padding-top: 90px;
    padding-bottom: 20px;
    display: inline-block;
    width: 100%;
    background: #fac134;
    background-image: url(../../assets/images/f-bg.png);
    background-position: bottom left;
    background-repeat: no-repeat;
}

li {
    list-style:  none;
    display:  inline-block;
}

.news-sec-title {
    display: inline-block;
    width: 100%;
}

.news-sec-title h2 {
    float: left;
    margin: 0;
}

.news-sec-title ul {
    padding: 0;
    margin: 0;
    float: right;
}

.news-sec-title ul li {
    display: inline-block;
}

.news-sec-title ul li a {
    color: #1E232B;
}

.news-sec-title ul li span {
    margin: 0 10px;
}

.news-img {
    position: relative;
    width: 170px;
    min-width: 170px;
    height: 180px;
    display: block;
    background-color: rgba(0,0,0,.2);
}

.news-img img {
    position: relative;
    z-index: 2;
}

.news-img::after {
    content: '';
    position: absolute;
    top: 15px;
    bottom: 15px;
    right: -15px;
    z-index: 1;
    width: 50px;
    border-radius: 50%;
    background-color: #000;
    filter: blur(10px);
    opacity: .2;
}

.news-img img.small-img {
    position: absolute;
    left: 0;
    background: #ffffff;
    padding: 5px;
    display: inline-block;
    top: 0;
}

.news-img img.big-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-sec {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 25px;
    float: left;
    background: #ffffff;
    transition: 0.3s;
    border-radius: 3px;
    background: #ffffff;
    overflow: hidden;
}

.news-sec:hover {
    box-shadow: 0 7px 30px rgba(0,0,0,.08);
}

.news-type {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: #ffffff;
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
}

.news-cont {
    flex-grow: 1;
    display: block;
    width: 70%;
    height: 180px;
    padding: 30px;
    float: left;
}

.news-cont h4 {
    margin-top: 0;
    font-weight: 700;
    font-size: 16px;
    max-width: 90%;
    margin-bottom: 10px;
}

.news-cont h4 a {
    color: #444;
}

.news-content__timestamp {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #bbb;
    font-size: 12px;
    font-style: italic;
}

.news-cont__bottom {
    display: flex;
}

.news-cont span.new_badge {
    position: relative;
    top: -2px;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 4px 8px;
    background: #FF3C3C;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
}

.news-cont .news-sharing ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.news-cont .news-sharing ul li {
    display: inline-block;
    margin-right: 10px;
}

.news-sharing a img {
    height: 10px;
}

.news-content>p {
    margin-top: 10px;
    font-size: 12px;
}

.news_topic ul {
    padding: 0;
    margin: 0;
    /* float: left; */
    vertical-align: middle;
}

.news_topic ul li {
    display: inline-block;
    margin-right: 10px;
}

.news_topic ul li a {
    font-size: 12px;
    line-height: 25px;
}

.news_topic ul:last-child {
    display: inline-block;
}

.news_topic ul li:last-child {
    margin-right: 0;
}

.news_topic ul li span {
    margin: 0 5px;
}

.show-more-sec a {
    background: #fac134;
    padding: 15px 30px;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    width: 200px;
    text-align: center;
}

.show-more-sec {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.home-mainsection {
    margin-top: 10px;
}

.item {
    padding: 0 15px;
}

button[ngxcarouselprev],
button[ngxcarouselnext] {
    display: none !important;
}

.banner-home h2 {
    margin: 0 0 20px 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.news_topic ul {
    padding: 0;
    margin: 0;
    float: left;
    vertical-align: middle;
}

.news_topic ul li {
    display: inline-block;
    margin-right: 10px;
}

.news_topic ul li a {
    font-size: 12px;
    line-height: 24px;
}

.news_topic ul:first-child li a {
    background: #626262;
    color: #f6f6f7;
    padding: 0px 10px;
    display: inline-block;
    font-size: 12px;
    margin: 0;
    text-transform: capitalize;
    font-weight: bold;
}

.news_topic ul:last-child {
    display: inline-block;
}

.news_topic ul li:last-child {
    margin-right: 0;
}

.news_topic ul li span {
    margin: 0 5px;
}

.carousel-items .news-sec {
    box-shadow: 0 10px 20px rgba(0,0,0,.12);
}

 @media (max-width: 1920px) {
    .news-type {
        font-size: 10px;
    }
    .news-cont h4 {
        font-size: 16px;
        max-height: 38px;
        height: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .news-cont {
        /* padding: 20px 15px 0px 20px; */
    }
    .news-sharing {
        margin-top: 0;
    }
    .news-content p {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 12px;
        max-height: 36px;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .news-img {
        /* width: 35%; */
    }
    .news-cont {
        /* width: 65%; */
    }
    .news_topic ul li a {
        font-size: 10px;
    }
    .news-sec {
        box-shadow: unset;
    }
}

@media (max-width: 1199px) {
    .news-img,
    .news-cont {
        width: 100%;
    }
    .news-img img.big-img {
        width: 100%;
        margin: 0 auto;
        display: block;
        object-fit: cover;
    }
    .news-cont {
        min-height: 140px;
    }
}

@media (max-width: 991px) {
    .news-cont {
        min-height: 180px;
    }
}

@media (max-width: 767px) {
    .banner-home {
        padding-top: 40px;
    }
    .news-img, .news-cont {
        width: 100%;
    }
    .news-img img.big-img {
        object-fit: cover;
        width: 100%;
    }
    .news-cont {
        min-height: 160px;
    }
    .news-sec {
        flex-direction: column; 
        box-shadow: 0 0px 30px 5px rgba(64, 64, 64, 0.1);
    }
    .news-cont {
        width: 100%;
    }
    .news-cont h4 {
        margin-bottom: 10px;
    }
    .news-img {
        width: 100%;
        height: auto;
    }
    .news-img::after {
        content: '';
        position: absolute;
        top: auto;
        bottom: -15px;
        left: 15px;
        right: 15px;
        z-index: 1;
        width: auto;
        height: 50px;
        border-radius: 50%;
        background-color: #000;
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: .2;
    }
    .news-cont {
        height: auto;
        padding: 30px 30px 40px;
    }
    .news-content__timestamp {
        bottom: 15px;
        right: 20px;
        font-size: 10px;
    }
}
